<?xml version='1.0' encoding='UTF-8'?>  
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 5.3//EN"  
          "http://hibernate.sourceforge.net/hibernate-configuration-5.3.dtd">  
   
<hibernate-configuration>  
    <session-factory>  
<!--         <property name="hbm2ddl.auto">update</property>  
        <property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>  
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>  
<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>   -->
          
          <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernatedb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
         <property name="hbm2ddl.auto">update</property> 
         <!--  <property name="hbm2ddl.auto">update</property> -->
		<property name="hibernate.show_sql">true</property>
          
        <mapping class="com.mdits.Employee"/>  
        <mapping class="com.mdits.Contract_Employee"/>  
        <mapping class="com.mdits.Regular_Employee"/>  
    </session-factory>  
</hibernate-configuration>  